.page {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: scroll;
  padding-bottom: 50px;
}
.page-container {
  position:relative;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 800px;
  overflow-wrap: break-word;
}